{% extends 'index.html' %}
{% block content %}
    <h1>Reset Password</h1>
    <form action="" method='POST'>
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form form-control-lg") }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class="form-control-label") }}
            {{ form.password2(class="form form-control-lg") }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %} 
        </p>
        {{ form.submit(class="btn btn-outline-info") }}
    </form>
{% endblock %}