{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <h1>Update Todo</h1>
        <form action="{{ url_for('update_todo', id=todo.id) }}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" value="{{ todo.title }}" id="title" placeholder="Type your title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Todo Description</label>
            <input type="text" class="form-control" name="description" value="{{ todo.description }}" id="description" placeholder="Type your description">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </form>
    </div>
{% endblock %}